body{
    overflow-x: hidden;
}
#main{
    text-align: center;
    color: darkred; font-family: sans-serif; font-size: 62px; font-weight: 600;
}
div#footer{
    position:relative; bottom:0; right:50%;
    margin: 10px auto -20px auto; transform: translateX(50%);
    font-family: monospace; font-size: 25px;
    text-align: center; padding: 0;
}
div#footer h6{
    margin: 2px auto; font-weight: 100;
}
div#footer hr{
    height: 1px; width: 100%; border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
div.container{
    width: 80%; text-align: left; margin: auto;
}
.rangecontainer{
    width: 100%; font-family: Dubai; font-size: x-large; font-weight: 100; margin: auto;
}
#rangev{
    font-size: xx-large;
}

#range {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    margin: 10px auto;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#range:hover {
    opacity: 1;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

input[type=range]{
    width: 100%;
}
.include {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px; margin-top: 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.include input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.include:hover input ~ .checkmark {
    background-color: #ccc;
}


.include input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.include input:checked ~ .checkmark:after {
    display: block;
}

.include .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

button#generate{
    color: #fff !important;
    font-size: x-large; font-family: "Droid Sans Mono";
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 10px;
    border-radius: 2px; border: none;
    display: inline-block;
    transition: all 0.4s ease 0s;
}
button#generate:hover{
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
div#output > p{
   font-size: x-large; font-family: Consolas;
    display: inline-block;
}
div#output button{
    background: #97e39b;
    width: 150px; margin: 10px auto auto 10px;
    border-radius: 10px; border: none;
}
div#output button:active{
    background: #29dc30;
    letter-spacing: 1px;
}
div#output button:disabled{
    background: #555f55;
}
p#copy{
    font-size: xx-large; font-family: Gabriola;
    text-transform: uppercase; text-align: center;
    color: #ffffff;
    margin: -6px auto;

}

input[type=text]{
    font-size: 31px; color: #206120;
    display: inline-block;
}


@media only screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    div.container{
        width: 96%;
    }
    #main{
        font-size: 30px;
    }
    input[type=text]{
        font-size: 27px;
    }
    div#output button{
        width: auto;
    }


}
